:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --basic-color: #212121;
    --primary-color: #757575;
    --font: black;
    --primary-theme-dark: #2f303a;
    --primary-theme-light: #eeeeee;
    --accent-color: #2196f3;
    --primary-bg-color: #fff;
    --primary-button-color: #f5f4fa;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    background-color: var(--primary-bg-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid none;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: var(--accent-color);
}

.logo-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: var(--basic-color);
}

.menu-link,
.menu-portfolio-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    color: var(--basic-color);
}

.menu-link:hover,
.menu-portfolio-link:hover,
.menu-link:focus,
.menu-portfolio-link:focus {
    color: var(--accent-color);
}

.contact-emeil-link,
.contact-phone-nomber-link,
.portfolio-contact {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    color: var(--primary-color);
}

.contact-emeil-link:hover,
.contact-emeil-link:focus {
    color: var(--accent-color);
}

.contact-phone-nomber-link:hover,
.contact-phone-nomber-link:focus {
    color: var(--accent-color);
}

.current {
    text-decoration: none;
    color: var(--accent-color);
}
/* Шапка сайта */

.hero {
    background-color: var(--primary-theme-dark);
}

.hero-title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 6%;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.button-hero {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    text-align: center;
    letter-spacing: 6%;
    cursor: pointer;
}
.change {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
.button-hero:hover {
    background-color: #188ce8;
}

/* Особенности */

.visually-hidden,
.button-hidden,
.project-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--basic-color);
}

.suptitle {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: var(--primary-color);
}

/* Деятельность */
/* Команда */

.activity-title,
.proficional-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 3%;
    text-align: center;
    color: var(--basic-color);
}

.prof-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 3%;
    color: var(--basic-color);
}

.proficional-team {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 3%;
    color: var(--primary-color);
}

/* Фильтер */

.filter-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 3%;
    text-align: center;
    display: flex;
    cursor: pointer;
    color: var(--basic-color);
}

.main-btm {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
.project-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    color: var(--basic-color);
}
.contant {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 2%;
    color: var(--primary-color);
}

/* Футер */

.under {
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    background-color: var(--primary-theme-dark);
}

.logo-foot {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: var(--accent-color);
}

.logo-studio-foot {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: var(--primary-bg-color);
}

.under-address {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: var(--primary-bg-color);
}

.under-contact {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
}
