/* Cltr+/(внизу возле Ю) */
/* .html {
    width: 100%;
    height: 100%;
} */
/* :root {
    --primary-font 
    --secondary-font
    --primary-text-color: #212121;
    --primary-text-color-theme-light
    --secondery-text-color-theme-dark
    --secondary-text-color-theme-dark */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
}

body {
    background-color: #ffffff;
    color: var(--title-text-color);
}
/* .width: 1600px;
  .height: 2349px;
  .font-family: "Roboto", sans-serif
  .font-style: "Medium", sans-serif
  .
  . */
/* display: flex;
  align-items: center;
  justify-content: center; */

/* Для второго листа
.Font family: Roboto
Font style: Medium
Font size: 16px
Line height: 26px
Line height: 139%
Align: Center
Vertical align: Top
Letter spacing: 3% */

.list {
    list-style: none;
}

/* .link {
    text-decoration: none;
} */

.logo-style {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-text-color);
}
/* Site nav */
/* .site-nav .link {
    color: #212121;
} */

.site-nav .menu-link:hover {
    color: #2196f3;
}
.site-portfolio-nav .menu-portfolio-link:hover,
.site-portfolio-nav .menu-portfolio-link:focus {
    color: #2196f3;
}

.auth-nav .contact:hover {
    color: #2196f3;
}

/* section filter */

.button {
    color: #000;
}
.button filter:hover,
.button filter:focus {
    color: #fff;
}

.section-title {
    color: #212121;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
